@media only screen and (max-width: 480px) and (min-width: 320px) {
  .movie__info .movie__img {
    max-width: 80vw;
    max-height: 800px;
  }

  .movie__info__title {
    font-size: 20px;
  }

  .movie__info__desc {
    max-width: 90%;
  }
  .header__link {
    font-size: 2vh;
  }
}
