@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-color__black);
}

*::selection {
  background-color: var(--beige__color);
  color: var(--text-color__black);
}

html {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  scroll-behavior: smooth;
}

body {
  background-color: var(--black__color);
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--bg__color); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--beige__color); /* color of the scroll thumb */
}

a {
  color: var(--white__color);
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

progress {
  display: block;
  -webkit-appearance: none;
}

input {
  background-color: var(--white__color);
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 5px;
}

:root {
  --bg__color: #2d2424;
  --brown__color: #5c3d2e;
  --light-brown__color: #614436;
  --orange__color: #b85c38;
  --white__color: #fffffe;
  --black__color: #1b1b1b;
  --beige__color: #e0c097;

  --text-color__black: #0f0f0f;
}
