.movies {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.movies__title {
  color: var(--beige__color);
  font-size: 2.7em;
  text-shadow: 2px 1px 0px var(--text-color__black);
  text-transform: uppercase;
  text-align: center;
}

.movies__title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--orange__color);
  display: block;
  margin: 7px auto;
  border-radius: 15px;
}

#total-watched {
  text-shadow: 2px 1px 0px var(--text-color__black);
  color: var(--light-brown__color);
  font-size: 1.2em;
  font-weight: bold;
}

.movies__title-sec {
  padding-top: 1em;
  text-transform: uppercase;
  font-size: 38px;
  text-shadow: 2px 1px 0px var(--text-color__black);
}

.slider {
  width: 90vw;
}

.slides {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: var(--orange__color);
  border-radius: 2.5px;
}

.slides::-webkit-scrollbar-track {
  background: var(--brown__color);
  border-radius: 2.5px;
}

#go-back__link {
  cursor: pointer;
  color: var(--white__color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.search__label {
  color: var(--white__color);
  font-size: 2em;
  text-align: center;
}

.search__movies {
  width: 100%;
  background-color: var(--bg__color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.search {
  gap: 1.2em;
  min-height: 10vh;
  text-align: center;
  margin-top: 1em;
}

.search__input {
  margin-top: 1em;
  border-radius: 15px;
  font-size: 1.5em;
  padding: 0.4em 0.7em;
  width: 100%;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .movies__title {
    font-size: 8vw;
  }
}
