.movies__watched {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg__color);
  min-width: 100%;
  min-height: 82vh;
}

.movies__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0px 1em 0px;
}

.movies__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.movie__card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--light-brown__color);
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  margin: 2em;
}

.watched {
  margin: 1em 2em 1em 2em;
}

.watched a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.movie__title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--beige__color);
  width: 100%;
}

.movie__title-text {
  letter-spacing: 2px;
  font-size: 24px;
}

.isfavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-height: 100%;
}

.favorite {
  font-size: 2.5em;
}

.movies__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.movie__img {
  border-radius: 15px;
  width: auto;
  height: 100%;
}

.movie__desc-text {
  background-color: var(--beige__color);
  width: 100%;
  padding: 0.5em;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 7px 0px 0px var(--brown__color);
}
