.movies__watched {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg__color);
  min-width: 100%;
  min-height: 82vh;
}

.movies__content {
  padding: 2.5em 0px 1em 0px;
}

.movie__card {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  transition: 0.2s ease;
}

.movie__card.watched:hover {
  transform: scale(1.07);
}

.watched {
  margin: 0 1.2em;
}

.movie__title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  max-height: 100%;
}

.movie__title-text {
  background-color: var(--bg__color);
  padding: 7px 7px 0px 7px;
  color: var(--beige__color);
}

.isfavorite {
  cursor: pointer;
}

.favorite {
  color: var(--light-brown__color);
  font-size: 2.5em;
}

.favorite:hover {
  color: var(--beige__color);
}

.movies__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
}

.movie__img {
  border-radius: 7px;
  width: auto;
  height: 100%;
}

.movie__desc-text {
  max-width: 100%;
  padding: 0.5em;
  line-height: 1.5em;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0px 7px 0px 0px var(--brown__color);
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .watched {
    margin: 0 0.4em;
  }
}
