.movies {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.movies__title {
  padding-top: 1em;
  font-size: 38px;
  text-shadow: 2px 4px 0px var(--purple__color);
}

.movies__title-sec {
  padding-top: 1em;
  font-size: 38px;
  text-shadow: 2px 4px 0px var(--purple__color);
}
