.next__movies {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  text-align: center;
  background: var(--black__jogos);
}

.next {
  color: var(--white__color);
}

.unwatched {
  background-color: black;
}

.unwatched .movie__title{
  background-color: var(--white__color);
}

.unwatched .movie__img {
  mix-blend-mode: luminosity;
}
