.header {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: var(--beige__color);
  z-index: 1;
  transition: all 0.4s;
}


