/* TODO: Refatorar esses estilos adicionando cada tipo em seus arquivos */
.user__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: var(--bg__color);
}

.pfp {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 0px 20px var(--beige__color);
  margin-bottom: 1.5em;
}

#profile__url__input {
  border-radius: 25px;
  background-color: var(--white__color);
  padding: 7px 10px;
  min-width: 25%;
}

.favorite__movies {
  background-color: var(--bg__color);
  min-height: 100vh;
  text-align: center;
}

.favorite__movies .movies__content {
  padding: 0px;
}

.favorite__movies .movies__cards {
  display: flex;
  flex-flow: row wrap;
  max-width: 100vw;
}

.favorite__movies .movie__card {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 1em;
  max-width: 700px;
  min-height: 450px;
}

.favorite__movies .movie__title-text {
  font-size: 1em;
}

.favorite__movies .favorite {
  font-size: 2em;
}

.favorite__movies .movies__subtitle {
  color: var(--white__color);
  font-size: 1.2em;
}

.favorite__movies .movies__img {
  width: 100%;
  height: 400px;
}

.favorite__movies .movie__img {
  border-radius: 15px;
  width: auto;
  height: 100%;
}

.favorite__movies .movie__desc-text {
  background-color: var(--beige__color);
  width: 100%;
  padding: 0.5em;
  border-radius: 0px 0px 15px 15px;
  box-shadow: none;
  font-size: 0.5em;
}
